:root {
    --teal: #0C5D52;
    --sandrift: #C3AB6D;
    --dark-navy-blue: #0f2239;
    --bs-dark: #232323;
    --border-color: #e2e8f0;
}

::selection {
    color: white;
    background-color: var(--sandrift);
}

body {
    font-size: 15px;
    font-family: "Jost", "Changa", sans-serif;
}

a,
a:hover,
.nav-link,
.nav-link:hover {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


/*  =======================================================================
    ============    Topbar     ============================================
*/
.topbar {
    font-size: 14px;
    color: rgb(207, 207, 207);
    background-color: var(--dark-navy-blue);
}

.topbar-inner-content {
    display: flex;
    align-items: center;
}

.topbar-inner-content>div a {
    gap: 12px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.topbar-inner-content>div a:not(.dropdown-item) {
    border-right: 1px solid #384554;
    padding: 10px 16px;
}

.topbar-inner-content>div a:hover iconify-icon {
    color: white;
    transition: 0.3s ease;
}

.topbar-inner-content>div iconify-icon {
    color: inherit;
}

.topbar-inner-content .topbar-social {
    display: flex;
    align-items: center;
}

.topbar-search .form-control {
    background-color: rgb(255 255 255 / 5%);
    border: none;
    border-radius: 0;
    font-size: 13px;
    height: 42px;
}

.topbar-search form {
    position: relative;
}

.topbar-search form .form-control::placeholder {
    color: #b7b7b7;
}

.topbar-search form .form-control:focus {
    background-color: #fff;
}

.topbar-search form iconify-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.login-button {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
}

/*  =======================================================================
    ============    Navbar    =============================================
*/
.navbar {
    color: white;
    background-color: #009688;
    padding: 24px 0;
    --bs-navbar-toggler-icon-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="%23fff" d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1m0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1" /></svg>');
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-scroll-show-hide {
        position: sticky;
        top: 0;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
        left: 0;
        right: 0;
        width: 100%;
    }

    .navbar-scroll-show-hide.navbar-hidden {
        transform: translateY(-100%);
    }
}


@media(max-width: 992px) {
    .navbar {
        padding: 8px 0;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-nav {
    gap: 10px;
}

.navbar-nav .nav-link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
}

.navbar-nav .nav-link::before {
    position: absolute;
    content: '';
    height: 2px;
    left: 50%;
    width: 0;
    background-color: white;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
    font-weight: 600;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link.active:hover::before {
    width: 20px;
}

.navbar-brand,
.navbar-brand:hover {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    color: white;
}

.navbar-brand .icon {
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #CDDC39, #4CAF50);
    color: white;
}

@media (max-width: 992px) {

    .offcanvas .nav-link,
    .offcanvas .nav-link.active {
        color: #222;
        border-bottom: 1px dashed #e3e3e3;
        padding-bottom: 16px;
    }
}

.offcanvas-header {
    display: flex;
    align-items: center;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    background-color: #8BC34A;
}

/*  =======================================================================
    ============    Hero    ===============================================
*/
.hero {
    background-image: url("./../images/sections/hero-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .hero-text-content h2 {
        font-size: 30px !important;
    }

    .hero-text-content h6 {
        font-size: 18px !important;
        font-weight: 400;
    }

    .hero-text-content h2 span {
        display: block;
    }

    .hero img {
        width: 100%;
    }
}

.hero-text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 767px) {
    .hero-text-content {
        margin-top: 72px;
        height: auto;
    }
}

.hero-text-content h6 {
    font-size: 20px;
    margin-top: -100px;
    margin-bottom: 16px;
}

.hero-text-content h2 {
    font-size: 64px;
    font-weight: 700;
    font-family: serif;
    text-transform: capitalize;
}

.hero-text-content h2 span {
    color: var(--sandrift)
}

.hero-text-content p {
    font-size: 16px;
    margin-top: 10px;
}

.typer-text::after {
    content: '|';
    animation: blink 0.8s infinite;
    margin-left: 2px;
    color: #000;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/*  =======================================================================
    ============    Features Cards    =====================================
*/
.features {
    margin-top: -90px;
    position: relative;
}

.features::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 158px;
    background-color: #f8fafc;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.featured-card {
    padding: 18px;
    height: 230px;
    display: grid;
    text-align: center;
    place-content: center;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.featured-card .icon {
    margin-bottom: 24px;
}

/*  =======================================================================
    ============    Static Cards    =======================================
*/
.static-card {
    padding: 24px 0;
}

.static-card .number {
    font-size: 43px;
    font-weight: 700;
    color: black;
}

.static-card .number .plus {
    font-size: 24px;
    font-weight: 300;
    margin-left: -7px;
}

.statistics {
    padding: 16px 0;
    background-color: #f8fafc;
}

.statistics p a {
    color: var(--teal);
    text-decoration: underline;
}

@media (max-width: 992px) {
    .static-card {
        text-align: center;
    }

    .statistics p {
        text-align: center;
    }
}

/*  =======================================================================
    ============    Global Section Style    ===============================
*/
.section {
    padding: 90px 0;
}

.section.about {
    position: relative;
    padding: 90px 0;
}

.section.about::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
}

.section.about::before {
    top: 0;
    background: url(./../images/zigzag-gray.png);
    height: 25px;
}

.crosshair {
    cursor: crosshair;
}

.section-image {
    position: relative;
}

.section-subtitle {
    display: inline-flex;
    background: linear-gradient(90deg, var(--sandrift) 0%, var(--sandrift) 0%, transparent 90%);
    padding: 16px 24px;
    border-radius: 100px;
    text-transform: uppercase;
}

.section-title {
    font-size: 48px;
    font-weight: 600;
    font-family: serif;
    margin: 11px 0;
}

.section-title span {
    color: var(--sandrift);
}

@media(max-width: 992px) {
    .section-title {
        font-size: 32px;
    }
}

.blockquote {
    border-left: 5px solid var(--sandrift);
    padding-left: 16px;
    font-size: 16px;
    line-height: 30px;
    margin: 24px 8px;
}

.media-object {
    gap: 16px;
}

.media-object .text-content h6 {
    margin: 0;
    font-size: 18px;
}

.media-object .icon {
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    background-color: white;
    border-radius: 50%;
    color: var(--sandrift);
    border: 1px solid;
}

.media-object .text-content span:first-of-type {
    font-size: 13px;
}

.float-image {
    transition: transform 0.2s ease-out;
    will-change: transform;
    position: absolute;
    z-index: -1;
}

.float-image.dots {
    left: 10%;
    bottom: 0;
}

.float-image.circle {
    left: 35%;
    top: -30px;
}

.float-video {
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: white;
    padding: 24px;
    border-radius: 13px;
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.1);
}

.float-video img {
    filter: brightness(0.5);
}

.float-video button {
    position: absolute;
    top: 45%;
    left: 50%;
    background-color: white;
    border: 0;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.float-video button iconify-icon {
    color: var(--teal);
}

.float-video button::before,
.float-video button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: pulse 1.5s infinite ease-in-out;
    z-index: -1;
}

.float-video button::after {
    animation-delay: 0.75s;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.8);
        opacity: 0;
    }
}

.skelton-full,
.skelton-quarter {
    display: block;
    width: 100%;
    height: 7px;
    background-color: #f1f5f9;
    margin: 10px 4px;
    border-radius: 50px;
}

.skelton-quarter {
    width: 45%;
}

.hover-underline:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .about .section-image img {
        width: 100%;
        margin-bottom: 42px;
    }
}

/*  =======================================================================
    ============    Index: Steps Section    ===============================
*/
.steps {
    background: url("./../images/sections/steps.png");
    text-align: center;
    background-size: contain;
}

@media (max-width: 992px) {
    .steps {
        background-image: none;
        background-color: var(--sandrift);
    }
}

.steps h6 {
    font-size: 24px;
}

.steps h3 {
    font-size: 48px;
    font-family: serif;
    font-weight: 700;
}

.steps-row {
    position: relative;
    width: 75%;
    margin: 16px auto;
}

@media (max-width: 992px) {
    .steps-row {
        width: 100%;
    }
}

.steps-row::before {
    /* content: ''; */
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
    top: 24%;
}

.step-card {
    position: relative;
    padding: 16px;
    border-radius: 12px;
}

.step-card h2 {
    font-weight: 700;
    font-size: 100px;
    font-family: 'Changa';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    text-shadow: 5px 4px rgb(0 0 0 / 14%);
}

@media (min-width: 992px) {

    .steps .col-md-4:nth-child(2) .step-card::before,
    .steps .col-md-4:nth-child(2) .step-card::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: #000000;
        left: -60px;
        top: 25%;
    }

    .steps .col-md-4:nth-child(2) .step-card::after {
        left: auto;
        right: -60px;
    }
}

/*  =======================================================================
    ============    Index: Categories Section:   ==========================
*/
.category-item {
    border: 1px solid #e2e8f0;
    padding: 32px;
    min-height: 270px;
    border-radius: 12px;
    margin-bottom: 32px;
    transition: 0.3s ease;
}

.category-item:hover {
    background-color: #f8fafc;
    border-color: var(--sandrift);
}

.category-item img {
    width: 64px;
}

.category-item h6 {
    font-size: 24px;
    margin: 16px 0;
}

.category-item p {
    font-size: 15px;
    text-transform: capitalize;
    line-height: 24px;
}

.category-item a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    transition: 0.3s ease;
    font-weight: 500;
    color: var(--teal);
    margin-top: 15px;
}

.category-item a iconify-icon {
    color: var(--teal);
}

.category-item a:hover {
    color: var(--dark-navy-blue);
}

.categories .section--image {
    position: absolute;
    top: 25%;
    z-index: -1;
    height: 370px;
}

.categories {
    position: relative;
}

/*  =======================================================================
    ============    Index: Popular Courses    =============================
*/
.popular-courses {
    background-color: #F8FAFC;
    z-index: 1;
    position: relative;
}

.popular-course-card {
    background-color: white;
}

.popular-course-card .card-details {
    padding: 24px;
    border: 1px solid #e2e8f0;
}

.popular-course-card .card-details a {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    margin-top: 8px;
    margin-bottom: 12px;
    text-transform: capitalize;
    background: linear-gradient(var(--teal) 0, var(--teal) 98%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: all .4s ease;
    line-clamp: 2;
}

.popular-course-card .card-details a:hover {
    background-size: 100% 2px;
}

.popular-course-card .card-details .meta-category {
    background-color: var(--bs-success-bg-subtle);
    font-size: 10px;
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 2px;
    font-weight: 500;
    color: var(--bs-success);
}

.star-rates {
    position: relative;
    width: 90px;
    height: 16px;
    background-image: url(./../images/shapes/stars-gray.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.star-rates span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url(./../images/shapes/stars-fill.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.rate-value {
    font-size: 12px;
    margin-left: 12px;
    font-weight: 500;
}

.price {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 700;
    color: #F44336;
}

.price .del {
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-left: 5px;
}

.course-info {
    border-top: 1px solid #e2e8f0;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.course-info>div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card-thumbnail-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.card-thumbnail-image span {
    position: absolute;
    right: 12px;
    top: 12px;
    background-color: #ffffffd9;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
    z-index: 1;
}

.card-thumbnail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.popular-course-card:hover .card-thumbnail-image img {
    transform: rotate(5deg) scale(1.1);
}


/*  =======================================================================
    ============    Index: Contact Us    ========================
*/
.contact-us {
    position: relative;
    padding-top: 0;
    z-index: 1;
}

.contact-us::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: #f8fafc;
    top: 0;
    z-index: -1;
}

.contact-us .contact-info-box {
    background-color: var(--teal);
    padding: 24px;
    width: 70%;
    margin: 0 auto;
    border-radius: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 140px;
    position: relative;
}

.contact-us .contact-info-box .circle-dots {
    position: absolute;
    left: -30px;
    top: -30px;
}

.contact-us .contact-info-box .circle-fill {
    position: absolute;
    right: -30px;
    top: -30px;
    z-index: -1;
}

.contact-us .contact-info-box h6 {
    font-weight: 300;
}

.contact-us .contact-info-box h4 {
    font-size: 24px;
    font-weight: 400;
}

.contact-us .contact-info-box .or {
    background-color: white;
    color: black;
    width: 64px;
    height: 64px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: 19px;
    border: 2px solid #009688;
    outline: 2px dotted #fff;
}

/*  =======================================================================
    ============    Index: Testimonails Section    ========================
*/
.testi-section-title h6 {
    color: var(--sandrift);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.testi-section-title h3 {
    font-size: 29px;
    margin-top: 6px;
    text-transform: capitalize;
    margin-bottom: 54px;
}

.testi-section-title h3 span {
    color: var(--sandrift);
}

.testi-section-title .reviews {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.testi-section-title .reviews span {
    font-size: 16px;
}

.testi-section-title .reviews .star-rates {
    margin-left: 12px;
}

.testi-card-item {
    border: 1px solid #ddd;
    padding: 32px;
    border-radius: 12px;
    position: relative;
}

.testi-card-item p {
    margin-top: 12px;
    margin-bottom: 32px;
}

.testi-card-item p {
    margin-top: 20px;
    margin-bottom: 32px;
}

.testi-card-item .author {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 12px;
    border-top: 1px solid #0000001a;
}

.testi-card-item .author .info h6 {
    font-size: 17px;
    margin: 0;
}

.testi-card-item iconify-icon {
    position: absolute;
    right: 0;
}

.testi-card-item iconify-icon {
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0.03;
}

.owl-carousel .owl-stage-outer {
    padding: 12px 0;
}

/*  =======================================================================
    ============    Index: Our Team Work    ===============================
*/
.team-card {
    position: relative;
    overflow: hidden;
}

.team-card-image {
    position: relative;
}

.team-card-image img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.team-card:hover .team-card-info {
    bottom: 0;
}

.team-card-info {
    width: 75%;
    padding: 16px;
    bottom: -50px;
    position: absolute;
    transition: 0.3s ease;
    background-color: white;
}

.team-card-info h5 {
    margin: 0;
}

.team-card-info small {
    margin-bottom: 8px;
    display: block;
}

.team-card-info .socials .social-item {
    display: inline-grid;
    place-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
}

.team-card-info .socials .social-item.facebook {
    background-color: #1877F2;
}

.team-card-info .socials .social-item.twitter {
    background-color: #1DA1F2;
}


.team-card-info .socials .social-item.instagram {
    background-color: #E4405F;
}

.owl-nav {
    gap: 12px;
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: start;
}

.owl-nav button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    font-size: 20px !important;
    box-shadow: 1px 2px 0 0 var(--sandrift);
    border: 1px solid var(--sandrift) !important;
}

.owl-nav button:hover {
    box-shadow: none;
    background-color: rgb(195 171 109 / 20%) !important;
}

/*  =======================================================================
    ============    Index: Price Section    ===============================
*/
.pricing-plane {
    background-color: #f8fafc;
}

.price-card {
    background-color: white;
    padding: 62px 32px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 5px 5px 0 0 var(--sandrift);
}

.pricing-plane .row {
    width: 85%;
    margin: 64px auto 0;
}

.price-card h6 {
    text-transform: uppercase;
}

.price-card .price span {
    color: var(--sandrift);
    font-size: 48px;
    font-weight: 600;
}

.price-card .price small {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display: inline-block;
}

.price-card h4 {
    font-size: 17px;
    margin-bottom: 16px;
    padding: 8px;
}

.price-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.price-card ul li {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.price-card ul li iconify-icon {
    color: var(--sandrift);
}

.price-card .btn {
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    color: black;
}

.price-card .btn:hover {
    background-color: var(--sandrift);
    color: white;
}

.price-card.recommended {
    background-color: var(--teal);
    color: white;
}

.price-card.recommended small {
    color: white;
}

.price-card.recommended .btn {
    color: white;
}

/*  =======================================================================
    ============    Index: Blog Section    ================================
*/
.blog-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.blog-card-header .author img {
    width: 42px;
    border-radius: 50%;
    height: 42px;
    object-fit: cover;
}

.blog-card-header .author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.blog-card-header .author a {
    font-weight: 500;
}

.blog-card-header .likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog-card-image img {
    width: 100%;
}

.blog-card-body .date {
    background-color: white;
    display: inline-flex;
    padding: 6px 12px;
    margin-left: 16px;
    width: 140px;
    justify-content: center;
    align-items: center;
    margin-top: -32px;
}

.blog-card-body .date .day {
    font-size: 32px;
    font-weight: 600;
    color: var(--sandrift);
    position: relative;
}

.blog-card-body .date .day::after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 22px;
    background-color: #a0a0a0;
    margin: 0 14px;
}

.blog-card-body .title {
    font-size: 24px;
    transition: 0.3s ease;
    margin: 10px 0;
}

.blog-card-body .title:hover {
    color: var(--sandrift);
}

.blog-card-body p {
    color: gray;
}

.blog-card {
    border-radius: 6px;
}

.blog-card-body {
    padding: 0 16px 16px;
}

/*  =======================================================================
    ============    Footer    =============================================
*/
.footer {
    color: white;
    background-color: var(--teal);
}

.footer-inner {
    padding: 48px 0;
}

.copy-rights {
    padding: 16px 0;
    background-color: #074E45;
    text-align: center;
}

.footer-block.about p {
    line-height: 24px;
    margin: 24px 0;
    width: 75%;
}

.footer-block.about .socials a {
    display: inline-grid;
    width: 32px;
    height: 32px;
    background-color: white;
    color: var(--teal);
    place-content: center;
    border-radius: 50%;
    margin-right: 6px;
    transition: 0.3s ease;
}

.footer-block.about .socials a:hover {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.footer-block h6 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 24px;
}

.footer-block.quick-links .nav-link {
    position: relative;
    opacity: 0.75;
}

.footer-block.quick-links .nav-link:hover {
    opacity: 1;
}

.footer-block.info span {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 3px;
    display: block;
}

.footer-block.info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-block.newsletter form .form-control {
    border-radius: 2px;
    border: none;
    font-size: inherit;
    padding: 12px 16px;
    width: 100%;
    background-color: #ffffff30;
    margin-bottom: 6px;
    color: white;
}

.footer-block.newsletter form {
    position: relative;
    width: 75%;
    margin-top: 16px;
}

.footer-block.newsletter form button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(255 255 255 / 50%);
}

.footer-block.newsletter form .form-control::placeholder {
    color: rgb(255 255 255 / 50%);
    font-weight: 300;
}

/*  =======================================================================
    ============    Bootstrap Modifications    ============================
*/
.form-control:focus,
.form-select:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

/* Dropdown */
.dropdown {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 99999;
}

[data-bs-toggle="dropdown"] {
    pointer-events: none;
}

@media (min-width: 992px) {
    .dropdown-menu {
        width: 200px;
        opacity: 0;
        padding: 0;
        border: none;
        display: block;
        border-radius: 0;
        visibility: hidden;
        font-size: inherit;
        transition: 0.3s ease;
        transform: translateY(10px);
        box-shadow: 0 10px 40px rgb(0, 0, 0, 0.08);
    }
}

.dropdown-item {
    transition: 0.3s ease;
    padding: 10px 16px;
    border: none;
    /* border-bottom: 1px solid; */
}

.dropdown-item:hover {
    padding-left: 26px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #009688;
}

/* Button */
.btn {
    color: inherit;
    z-index: 1;
    font-weight: 500;
    position: relative;
    border-radius: 3px;
    text-transform: capitalize;
}

[class^="btn-"],
[class*=" btn-"] {
    color: white;
}

.btn-warning,
.btn:focus-visible {
    border-color: var(--sandrift);
    background-color: var(--sandrift);
}

.btn-warning:hover {
    color: inherit;
    background-color: transparent;
    border: 1px solid var(--sandrift);
}

.btn-dark {
    border-color: var(--dark-navy-blue);
    background-color: var(--dark-navy-blue);
}

.btn-dark:hover {
    color: inherit;
    background-color: transparent;
    border: 1px solid var(--dark-navy-blue);
}

.double-text-effect {
    overflow: hidden;
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 16px !important;
}

.double-text-effect span {
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: opacity .65s, transform .85s;
    transition-timing-function: cubic-bezier(.15, .85, .31, 1);
}

.double-text-effect span::after {
    content: attr(data-text);
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: opacity .5s, transform .8s;
    transition-timing-function: cubic-bezier(.15, .85, .31, 1);
}

.double-text-effect:active span::after,
.double-text-effect:hover span::after {
    transform: translate(-50%, 150%);
    opacity: 1;
}

.double-text-effect:active span,
.double-text-effect:hover span {
    transform: translateY(-200%);
}

.btn-outline-dark {
    color: var(--dark-navy-blue);
}

.btn-outline-dark:hover {
    color: white;
    background-color: var(--dark-navy-blue);
    border-color: var(--dark-navy-blue);
}

@keyframes rotateInfinite {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotateInfinite 10s linear infinite;
}


.modal .modal-dialog {
    max-width: max-content;
}

.modal-backdrop {
    --bs-backdrop-opacity: 0.85;
}

.pagination {
    justify-content: end;
}

.page-link,
.page-link:hover {
    font-size: 13px;
    border: none;
    color: inherit;
}

/*  =======================================================================
    ============    Page Header    =======================================
*/
.page-header h3 {
    margin-bottom: 12px;
    text-transform: capitalize;
}

.page-header a {
    font-size: 13px;
    opacity: 0.5;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    opacity: 0.5;
    font-size: 8px;
    display: inline-block;
}

.page-header .breadcrumb-item+.breadcrumb-item {
    display: flex;
    align-items: center;
}

.page-header .breadcrumb-item+.breadcrumb-item.active {
    font-size: 12px;
    color: #009688;
    text-decoration: underline;
}

/*  =======================================================================
    ============    Courses Page    =======================================
*/
.page-header {
    background-image: url("./../images/page-header.png");
    height: 190px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
}

.breadcrumb-item.active {
    color: white;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: white;
    content: var(--bs-breadcrumb-divider, "/");
}

.preview-toolbar .inner {
    padding: 8px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    margin: 32px 0;
    border-bottom: 1px solid #e2e8f0;
}

.preview-toolbar .inner form {
    margin-left: auto;
    position: relative;
}

.preview-toolbar .inner form iconify-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    opacity: 0.15;
}

.preview-toolbar .inner form .form-control {
    font-size: inherit;
    border: none;
    border-radius: 0;
    width: 240px;
}

.preview-toolbar .inner form .form-control::placeholder {
    color: #d0d0d0;
}

.preview-toolbar .inner .d-flex {
    align-items: center;
    gap: 6px;
}

/*  =======================================================================
    ============    Preloader    ==========================================
*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 9999;
}

.loader {
    width: 40px;
    height: 40px;
    --c: no-repeat linear-gradient(var(--sandrift) 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes l5 {
    0% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%
    }

    33% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        width: 60px;
        height: 60px
    }

    66% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0;
        width: 60px;
        height: 60px
    }

    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}

/*  =======================================================================
    ============    Back To Top    ========================================
*/
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 45px;
    height: 45px;
    background-color: #009688;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    place-content: center;
}

.back-to-top:hover {
    background-color: #00796b;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover {
    background-color: #1b201f;
    animation: shake 0.4s;
    color: white;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 0);
    }

    40% {
        transform: translate(2px, 0);
    }

    60% {
        transform: translate(-2px, 0);
    }

    80% {
        transform: translate(2px, 0);
    }

    100% {
        transform: translate(0);
    }
}

/*  =======================================================================
    ============    Single Course    ======================================
*/
.sideblock {
    border: 1px solid #e2e8f0;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.sideblock h6 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px 0;
}

.sideblock ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sideblock ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    font-size: 14px;
    border-bottom: 1px dashed #e2e8f0;
}

.sideblock ul li:last-of-type {
    border: none;
}

.sideblock ul li span:last-of-type {
    margin-left: auto;
    font-weight: 500;
}

.sideblock video {
    width: 100%;
}

.sideblock .btn {
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
}

.btn-outline-warning {
    color: #000;
    border-color: var(--sandrift);
}

.btn-outline-warning:hover {
    background-color: var(--sandrift);
    border-color: var(--sandrift);
    color: white;
}

.share-modal h6 {
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 14px;
}

.share-modal input {
    border-radius: 4px;
    padding: 13px 16px;
    margin-bottom: 8px;
}

.share-modal input:hover {
    background-color: whitesmoke;
}

.share-modal .share a {
    display: inline-grid;
    place-content: center;
    width: 50px;
    background-color: red;
    padding: 7px;
    border-radius: 4px;
    color: white;
}

.share-modal .share a:hover {
    background-color: black !important;
}

.share-modal .share a.facebook {
    background-color: #1877F2;
}

.share-modal .share a.twitter {
    background-color: #1DA1F2;
}

.share-modal .share a.linkedin {
    background-color: #0A66C2;
}

.copied-span-lable {
    display: none;
    background: #e5f7ff;
    color: #2196F3;
    font-size: 13px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.sideblock.tags a {
    background-color: #f1f5f9;
    padding: 8px 10px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.sideblock.tags a:hover {
    background-color: var(--dark-navy-blue);
    color: white;
}

.course-single-top {
    border: 1px solid #e2e8f0;
    padding: 24px;
    border-radius: 12px;
}

.course-single-top .course-meta {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 24px;
}

.course-single-top .course-meta>div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.course-single-top .course-meta>div iconify-icon {
    color: var(--sandrift);
}

.course-single-top h1 {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 16px;
}

.course-single-meta {
    display: flex;
    align-items: center;
    gap: 32px;
}

.course-single-meta .meta-author {
    display: flex;
    align-items: center;
}

.course-single-meta .meta-author img {
    width: 38px;
    border-radius: 50%;
    margin-right: 16px;
}

.course-single-meta>div {
    border-right: 1px solid #e1e1e1;
    padding-right: 26px;
}

.course-single-meta>div:last-of-type {
    border: none;
}

.course-single-bottom {
    border: none;
    margin-top: 32px;
    border-radius: 12px;
}

.course-single-bottom .nav-tabs .nav-item {
    width: 25%;
}

.course-single-bottom .nav-tabs .nav-item .nav-link {
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-color: #f1f5f9;
    padding: 12px;
}

.course-single-bottom .nav-tabs .nav-item .nav-link.active {
    background-color: var(--teal);
    color: white;
}

.course-single-bottom .nav-tabs {
    gap: 0px;
}