:root {
    --teal: #009688;
    --sandrift: #C3AB6D;
    --dark-navy-blue: #0f2239;
    --bs-dark: #232323;
    --border-color: #e2e8f0;
}

body {
    font-size: 15px;
    font-family: "Jost", "Changa", sans-serif;
}

a,
a:hover,
.nav-link,
.nav-link:hover {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}


/*  =======================================================================
    ============    Topbar     ============================================
*/
.topbar {
    font-size: 14px;
    color: rgb(207, 207, 207);
    background-color: var(--bs-dark);
}

@media (max-width: 992px) {
    .topbar {
        display: none;
    }
}

.topbar-inner-content {
    display: flex;
    align-items: center;
}

.topbar-inner-content>div a {
    gap: 12px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.topbar-inner-content>div a:not(.dropdown-item) {
    border-right: 1px solid #525252;
    padding: 10px 16px;
}

.topbar-inner-content>div a:hover iconify-icon {
    color: white;
    transition: 0.3s ease;
}

.topbar-inner-content>div iconify-icon {
    color: inherit;
}

.topbar-inner-content .topbar-social {
    display: flex;
    align-items: center;
}

.topbar-search .form-control {
    background-color: #404040;
    border: none;
    border-radius: 0;
    font-size: 13px;
    height: 42px;
}

.topbar-search form {
    position: relative;
}

.topbar-search form .form-control::placeholder {
    color: #b7b7b7;
}

.topbar-search form .form-control:focus {
    background-color: #fff;
}

.topbar-search form iconify-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.login-button {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
}

/*  =======================================================================
    ============    Navbar    =============================================
*/
.navbar {
    color: white;
    background-color: #009688;
    padding: 32px 0;
}

.navbar-nav {
    gap: 10px;
}

.navbar-nav .nav-link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.navbar-nav .nav-link::before {
    position: absolute;
    content: '';
    height: 2px;
    left: 50%;
    width: 0;
    background-color: white;
    transform: translateX(-50%);
    bottom: 0;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: inherit;
    font-weight: 600;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link.active:hover::before {
    width: 20px;
}

.navbar-brand,
.navbar-brand:hover {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    color: white;
}

.navbar-brand .icon {
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #CDDC39, #4CAF50);
    color: white;
}

/*  =======================================================================
    ============    Hero    ===============================================
*/
.hero {
    background-image: url("./../images/sections/hero-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero-text-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-text-content h6 {
    font-size: 20px;
}

.hero-text-content h2 {
    font-size: 64px;
    font-weight: 700;
    font-family: serif;
    text-transform: capitalize;
}

.hero-text-content h2 span {
    color: var(--sandrift)
}

.hero-text-content p {
    font-size: 16px;
    margin-top: 10px;
}

.typer-text::after {
    content: '|';
    animation: blink 0.8s infinite;
    margin-left: 2px;
    color: #000;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/*  =======================================================================
    ============    Features Cards    =====================================
*/
.features {
    margin-top: -90px;
    position: relative;
}

.features::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 158px;
    background-color: #f8fafc;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.featured-card {
    padding: 18px;
    height: 230px;
    display: grid;
    text-align: center;
    place-content: center;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.featured-card .icon {
    margin-bottom: 24px;
}

/*  =======================================================================
    ============    Static Cards    =======================================
*/
.static-card {
    padding: 24px 0;
}

.static-card .number {
    font-size: 43px;
    font-weight: 700;
    color: black;
}

.static-card .number .plus {
    font-size: 24px;
    font-weight: 300;
    margin-left: -7px;
}

.statistics {
    padding: 16px 0;
    background-color: #f8fafc;
}

.statistics p a {
    color: var(--teal);
    text-decoration: underline;
}

/*  =======================================================================
    ============    Global Section Style    ===============================
*/
.section {
    padding: 120px 0;
}

.section.about {
    position: relative;
}

.section.about::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
}

.section.about::before {
    top: 0;
    background: url(./../images/zigzag-gray.png);
    height: 25px;
}

.crosshair {
    cursor: crosshair;
}

.section-image {
    position: relative;
}

.section-subtitle {
    display: inline-flex;
    background: linear-gradient(90deg, var(--sandrift) 0%, var(--sandrift) 0%, transparent 90%);
    padding: 16px 24px;
    border-radius: 100px;
    text-transform: uppercase;
}

.section-title {
    font-size: 48px;
    font-weight: 600;
    font-family: serif;
    margin: 8px 0;
}

.section-title span {
    color: var(--sandrift);
}

.blockquote {
    border-left: 5px solid var(--sandrift);
    padding-left: 16px;
    font-size: 16px;
    line-height: 30px;
    margin: 24px 8px;
}

.media-object {
    gap: 16px;
}

.media-object .text-content h6 {
    margin: 0;
    font-size: 18px;
}

.media-object .icon {
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    background-color: white;
    border-radius: 50%;
    color: var(--sandrift);
    border: 1px solid;
}

.media-object .text-content span:first-of-type {
    font-size: 13px;
}

.float-image {
    transition: transform 0.2s ease-out;
    will-change: transform;
    position: absolute;
    z-index: -1;
}

.float-image.dots {
    left: 10%;
    bottom: 0;
}

.float-image.circle {
    left: 40%;
}

.float-video {
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: white;
    padding: 24px;
    border-radius: 13px;
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.1);
}

.float-video img {
    filter: brightness(0.5);
}

.float-video button {
    position: absolute;
    top: 45%;
    left: 50%;
    background-color: white;
    border: 0;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.float-video button iconify-icon {
    color: var(--teal);
}

.float-video button::before,
.float-video button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: pulse 1.5s infinite ease-in-out;
    z-index: -1;
}

.float-video button::after {
    animation-delay: 0.75s;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.8);
        opacity: 0;
    }
}

.skelton-full,
.skelton-quarter {
    display: block;
    width: 100%;
    height: 7px;
    background-color: #f1f5f9;
    margin: 10px 4px;
    border-radius: 50px;
}

.skelton-quarter {
    width: 45%;
}

/*  =======================================================================
    ============    Steps Section: Index.html    ==========================
*/
.section.steps {
    background: url("./../images/sections/steps.png");
    text-align: center;
    background-size: contain;
}

.section.steps h6 {
    font-size: 24px;
}

.section.steps h3 {
    font-size: 48px;
    font-family: serif;
    font-weight: 700;
}

.steps-row {
    position: relative;
    width: 75%;
    margin: 16px auto;
}

.steps-row::before {
    /* content: ''; */
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
    top: 24%;
}

.step-card {
    position: relative;
    padding: 16px;
    border-radius: 12px;
}

.step-card h2 {
    font-weight: 700;
    font-size: 100px;
    font-family: 'Changa';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    text-shadow: 5px 4px rgb(0 0 0 / 14%);
}

.steps .col-md-4:nth-child(2) .step-card::before,
.steps .col-md-4:nth-child(2) .step-card::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #000000;
    left: -60px;
    top: 25%;
}

.steps .col-md-4:nth-child(2) .step-card::after {
    left: auto;
    right: -60px;
}

/*  =======================================================================
    ============    Categories Section: Index.html     ====================
*/
.category-item {
    border: 1px solid #e2e8f0;
    padding: 32px;
    height: 270px;
    border-radius: 12px;
    margin-bottom: 32px;
    transition: 0.3s ease;
}

.category-item:hover {
    background-color: #f1f5f9;
    border-color: var(--sandrift);
}

.category-item img {
    width: 64px;
}

.category-item h6 {
    font-size: 24px;
    margin: 16px 0;
}

.category-item p {
    font-size: 15px;
    text-transform: capitalize;
    line-height: 24px;
}

.category-item a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.category-item a iconify-icon {
    color: var(--teal);
}

.category-item a:hover {
    color: var(--teal);
}

.section.categories .section--image {
    position: absolute;
    top: 25%;
    z-index: -1;
    height: 390px;
}

.section.categories {
    position: relative;
}

/*  =======================================================================
    ============    Bootstrap Modifications    ============================
*/
.form-control:focus,
.form-select:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

/* Dropdown */
.dropdown {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

[data-bs-toggle="dropdown"] {
    pointer-events: none;
}

.dropdown-menu {
    width: 200px;
    opacity: 0;
    padding: 0;
    border: none;
    display: block;
    border-radius: 0;
    visibility: hidden;
    font-size: inherit;
    transition: 0.3s ease;
    transform: translateY(10px);
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.08);
}

.dropdown-item {
    transition: 0.3s ease;
    padding: 10px 16px;
    border-bottom: 1px dotted #dfdfdf;
}

.dropdown-item:hover {
    padding-left: 26px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #009688;
}

/* Button */
.btn {
    color: inherit;
    z-index: 1;
    font-weight: 500;
    position: relative;
    border-radius: 3px;
    text-transform: capitalize;
}

[class^="btn-"],
[class*=" btn-"] {
    color: white;
}

.btn-warning {
    border-color: var(--sandrift);
    background-color: var(--sandrift);
    /* background: linear-gradient(45deg, var(--sandrift), #8BC34A); */
}

.btn-warning:hover {
    color: inherit;
    background-color: transparent;
    border: 1px solid var(--sandrift);
}

.btn-dark {
    border-color: var(--dark-navy-blue);
    background-color: var(--dark-navy-blue);
}

.btn-dark:hover {
    color: inherit;
    background-color: transparent;
    border: 1px solid var(--dark-navy-blue);
}



.double-text-effect {
    overflow: hidden;
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 16px !important;
}

.double-text-effect span {
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: opacity .65s, transform .85s;
    transition-timing-function: cubic-bezier(.15, .85, .31, 1);
}

.double-text-effect span::after {
    content: attr(data-text);
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: opacity .5s, transform .8s;
    transition-timing-function: cubic-bezier(.15, .85, .31, 1);
}

.double-text-effect:active span::after,
.double-text-effect:hover span::after {
    transform: translate(-50%, 150%);
    opacity: 1;
}

.double-text-effect:active span,
.double-text-effect:hover span {
    transform: translateY(-200%);
}

.btn-outline-dark {
    color: black;
}